services:
  app:
    build: .
    image: whisper-yt
    volumes:
      - .:/data
      - ./model-cache:/root/.cache/whisper
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: 6G
        reservations:
          memory: 2G
