services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: whisper-yt
    tty: true
    stdin_open: true
    volumes:
      - .:/output
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '${DOCKER_CPU_LIMIT:-0.75}'
          memory: ${DOCKER_MEMORY_LIMIT:-4G}
        reservations:
          memory: ${DOCKER_MEMORY_RESERVATION:-1G}
